@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}
body{
    background-color: #384358;
}
form{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background-color: #4c5265;
}
.form-check{
    margin-left: 30px;
}
th {
    font-weight: bold !important;
}
table{
    max-height: 80vh;
}
.welcome-div{
    width: 100vw;
    height: 100vh;
}
.floating-button {
    position: fixed;
    bottom: 20px; /* Distance du bas de l'écran */
    right: 20px; /* Distance du côté droit */
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 50%; /* Forme arrondie */
    width: 60px; /* Largeur */
    height: 60px; /* Hauteur */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre */
    font-size: 24px; /* Taille du texte */
    cursor: pointer; /* Curseur pointeur */
    z-index: 1000; /* Toujours au-dessus */
}

/* Effet hover pour le bouton */
.floating-button:hover {
    background-color: #0056b3;
}
