<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mali-Developpeur">
    <meta name="keywords" content="mali developpeur">

    <!-- Title Page-->
    <title>Canva Formation</title>
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Main CSS-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="{{url_for('static',filename='css/recovery_found_style.css')}}" rel="stylesheet" media="all">
</head>

<body>
    <div style="display: flex; align-items: center; background-color: #fff;padding: 0;">
        <img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="40px" height="40px">
        <h4>Mali Developpeur</h4>
    </div>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <h3>Informations rétrouvées</h3>
            <div class="card card-4">
                <div class="card-body">
                    <img src="{{qr_url}}" alt="">
                    <div class="input-group">
                        <label class="label">Prénom</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <input class="input--style-4" type="text" name="association" value="{{firstname}}" id="association" readonly>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Nom</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <input class="input--style-4" type="text" name="association" value="{{lastname}}" id="association" readonly>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label">Association</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <input class="input--style-4" type="text" name="association" value="{{association}}" id="association" readonly>
                        </div>
                    </div>
                    {% if who == 'enfant' %}
                        <h4 style="color: green; text-align: center;">Parrainé par {{parent_firstname}} {{parent_lastname}}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        </br>
        </br>
    </div>
    
</body>

</html>