<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mali-Developpeur">
    <meta name="keywords" content="mali developpeur">

    <!-- Title Page-->
    <title>Canva Formation</title>
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{url_for('static',filename='vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{url_for('static',filename='vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{url_for('static',filename='css/form_style.css')}}" rel="stylesheet" media="all">
</head>

<body>
    <div style="display: flex; align-items: center;">
        <img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="60px" height="60px">
        <h4>Mali Developpeur</h4>
    </div>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="{{qrcode_path}}" width="200px" height="200px" alt="">
                    </div>
                    <h2 style="text-align: center; color: black;">Félicitation {{name}} {{lastname}} !</h2>
                    <h4 style="text-align: center;">Vous êtes inscrit avec succès à notre formation en canva dediée aux femmes.</h4>
                    <p style="text-align: center; color: red; font-weight: bold;"><span><img src="{{url_for('static',filename='img/alert-triangle.svg')}}" alt=""></span> Attention: Faites une capture d'écran du code QR et conservez-la. Elle sera utile le jour de la formation !</p>
                    <h3 style="text-align: center; margin-top: 10px; color: black;">Télécharger Canva</h3>
                    <div class="btn-div">
                        <a href="https://canva.me/download-android/">
                            <img src="{{url_for('static', filename='img/Google_Play_Store_badge_FR.svg')}}" alt="Google_Play_Store_badge" height="50px">
                        </a>
                        <a href="https://canva.me/download-ios/"><img src="{{url_for('static', filename='img/appstore-badge.png')}}" alt="appstore-badge" height="50px"></a>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                        <a href="{{url_for('malidev')}}" class="btn btn--radius-2 btn--blue" style="text-decoration: none;">En savoir plus sur nous</a>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        <h4 style="text-align: center; font-weight: bold; color: black;">Assistance: 77514526 - 97690112 - 91514839</h4>
    </div>

    <!-- Jquery JS-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
    <!-- Vendor JS-->
    <script src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/datepicker/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/datepicker/daterangepicker.js')}}"></script>

    <!-- Main JS-->
    <script src="{{url_for('static',filename='js/global.js')}}"></script>

</body>

</html>